<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

          <a href="/views/login.handlebars" id="play">Login</a>
          <a href="/views/highscores.handlebars" id="highScores">High Scores</a>
          <a href="/views/rules.handlebars" id="rules">Rules</a>
          <!--need to hide this until after login-->
          <a href="/views/game.handlebars" id="play">Play</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
