<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Rum Runners</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Grenze:300i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Grenze:200i&display=swap" rel="stylesheet">
</head>

<body>  
    <div>  
        <audio id="backSong" controls autoplay loop hidden>
            <source src="../public/assets/pirateBackgroundSong.mp3" type="audio/mp3">
            <embed src="../public/assets/pirateBackgroundSong.mp3" autostart="1" loop="1" hidden="1">
        </audio>
    </div>
    <div class="fullscreen-bg">
        <video class="fullscreen-bg__video" muted autoplay>
            <source src="../public/assets/treasureChestVid.mp4" type="video/mp4">
        </video>
    </div>
    
        <!-- MAIN CONTENT SECTION -->
    <section class="wrapper">
        <div>
            <img id="thoughtBubble" src="../public/assets/thoughtBubble3.png">
        
            <button type="button" class="btn btn-play" id="beardedScallyWag"><img src="../public/assets/smTransparentPirate.gif"><a href="/game"></a>
            </button>
        </div>

        <ul type="I" class="directions">
            <li id="dTitle">HOW TO PLAY</li>
            <li>Press Ye Arrow Keys To Move Ye Little Peg Legs</li>
            <li>Steal Me Treasure For Points</li>
            <li>Beware! This Place Be Booby Trapped!</li>
        </ul>
    
        <!-- <h2 class="leaderB">Leaderboard</h2> -->
    </section>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../public/js/index.js"></script>
    <script>
        $(document).ready(function() {
            $('.btn-play').hide().delay(8500).fadeIn(2200);
        });
        $(document).ready(function() {
            $('.playTitle').hide().delay(8500).fadeIn(2200);
        });
        $(document).ready(function() {
            $('.directions').hide().delay(8500).fadeIn(2200);
        });
        $(document).ready(function() {
            $('.leaderB').hide().delay(8500).fadeIn(2200);
        });
        $(document).ready(function() {
            $('#thoughtBubble').hide().delay(8500).fadeIn(2200);
        });
       

    </script>

</body>
</html>