/* BACKGROUND VIDEO */
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-color: black;
  zoom: none;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  zoom: none;
}

/* BACKGROUND VID MEDIA QUERIES */
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

#backSong{
  z-index: 1000;
}

.wrapper{
  margin-top: 360px;
}

button:hover{
  opacity: .7;
}

.btn-play{
  float: left;
  margin-left: 270px;
  background-color: transparent;
  height: 5px;
  width: 10px;
  opacity: 1;
  z-index: 1;
  border: none;
  position: absolute;
  cursor: pointer;
}

.playTitle{
  float: left;
  padding-left: 350px;
  margin-top: 315px;
  font-family: 'Grenze', serif;
  font-size: 20px;
  color: rgb(55, 36, 21);
  opacity: .8;
  z-index: -100;
  position: absolute; 
}

.directions{
  float: left;
  padding-left: 800px;
  font-family: 'Grenze', serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 2;
  color: rgb(38, 24, 14);
  opacity: .8;
  z-index: -100;
  position: absolute;
}

ul{
  list-style-type: none;
  margin-top: 0;
  padding-top: 0;
}
#dTitle{
font-size: 50px;
text-decoration: underline;
font-weight: bolder;
/* margin-top: 0;
padding-top: 0; */
}

.leaderB{
  align-content: center;
  margin-top: 150px;
  margin-left: 250px;
  color: rgb(38, 24, 14);
  font-family: 'Grenze', serif;
  font-size: 60px;
  text-decoration: underline;
  opacity: .8;
}

.links {
  background-color: burlywood;
  font-size: 30px;
  margin-top: 50px;
}
table {
  padding-left: 50px;
}

th {
  width: 25%;
  font-size: 60px;
}

tr {
  font-size: 40px;
}

td {
  width: 25%;
}

#thoughtBubble{
  float: left;
  height: 150px;
  width: 300px;
  margin-left: 100px;
  margin-right:0;
  padding-right: 0;
  opacity: .65;
  z-index: 1;
  position: fixed;
}